<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<title>发财</title>

		<style>
			.col-center-block {
				float: none;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		</style>

	</head>
	<body>
		<div class="container">
			<br/>
			<div class="d-flex justify-content-center flex-row bd-highlight mb-3">
				<div class="alert alert-primary" role="alert">
					  在1~9每个数字后面输入-xx~xx之间的数字，例如输入-15表示减15，3表示加3
			    </div>
			</div>
			
				<div class="d-flex justify-content-center flex-row bd-highlight">
					<div class="jumbotron jumbotron-fluid">
					
						<form url action="{% url 'result' %}" method="post">
						{% csrf_token %}
							<div class="form-row">
								<div class="form-group col-sm-1 col-center-block">
									<label for="inputEmail4">数字1</label>
									<input type="text" class="form-control" name="number_1">
								</div>
								<div class="form-group col-sm-1 col-center-block">
									<label for="inputEmail4">数字2</label>
									<input type="text" class="form-control" name="number_2">
								</div>
								<div class="form-group col-sm-1 col-center-block">
									<label for="inputEmail4">数字3</label>
									<input type="text" class="form-control" name="number_3">
								</div>
								<div class="form-group col-sm-1 col-center-block">
									<label for="inputEmail4">数字4</label>
									<input type="text" class="form-control" name="number_4">
								</div>
								<div class="form-group col-sm-1 col-center-block">
									<label for="inputEmail4">数字5</label>
									<input type="text" class="form-control" name="number_5">
								</div>
								<div class="form-group col-sm-1 col-center-block">
									<label for="inputEmail4">数字6</label>
									<input type="text" class="form-control" name="number_6">
								</div>
								<div class="form-group col-sm-1 col-center-block">
									<label for="inputEmail4">数字7</label>
									<input type="text" class="form-control" name="number_7">
								</div>
								<div class="form-group col-sm-1 col-center-block">
									<label for="inputEmail4">数字8</label>
									<input type="text" class="form-control" name="number_8">
								</div>
								<div class="form-group col-sm-1 col-center-block">
									<label for="inputEmail4">数字9</label>
									<input type="text" class="form-control" name="number_9">
								</div>
							</div>
							</br>
							<div class="form-row">
								<div class="col-center-block">
									<button type="submit" class="btn btn-primary">计算</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
